.App {
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}
.Button {
  background-color: rgb(200, 200, 233);
  margin: 8px;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.Button:hover {
  background-color: rgb(202, 203, 255);
}
.Button:focus {
  outline: none;
}
.FruitIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}
